
body {
    font-family: 'DM Mono', monospace;
    src: url('./font/DMMono-Regular.ttf');
    font-size: 100%;
}
/* container */
.container {
    min-height: calc(100vh - 40px);
    margin: 5px auto 5px auto;
    max-width: 1200px;
}

/* menu */
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    background: #52686d;
    box-shadow: 2px 10px 10px #ddd;
}

.menu-redes-sociais {
    display: flex;
}
.menu-redes-sociais li {
    margin-left: 4px;
    margin-top: 14px;
    padding: 5px 2px 4px 0;
}
.menu-redes-sociais li a {
    display: block;
    height: 50px;
    width: 50px;
    font-size: 2em;
    color: #fff;
}
.menu-redes-sociais li a:hover {
    color: #2af35e;
    transition: ease 1.3s;
}
/* Boxes */
.boxes {
    display: flex;
    flex-wrap: wrap;
}
.box {
    padding: 30px 15px 10px 15px;
    height: 50vh;
    box-sizing: border-box;
    margin: 0.5%;
    position: relative;

}
.box h2 {
    line-height: 20px;
    font-size: 1.65em;
    text-align: center;
    margin-bottom: 20px;
}
.box-geral {
    width: 30%;
    box-shadow: 0 3px 18px #ddd;
    line-height: 25px;
    min-width: 250px;
}
.box-name {
    width: 37%;
    box-sizing: border-box;
    font-size: 3em;
}
.box-profissional {
    width: 37%;
    box-shadow: 0 3px 18px #ddd;
    box-sizing: border-box;
    font-size: 3em;
    position: relative;

}

.texto-ux {
    color: #885ae4;
    font-weight: bold;
}
.titulo-nome {
    border-bottom: 1px solid #dbe3e4;
    color: #2af35e;
    font-weight: bold;
}

.icon-color {
    color: rgba(0,0,0, 0.1);
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 1.5em;
    z-index: 4;
}
.texto-github {
    text-decoration: none;
    color: #52686d;
}

.menu-skill {
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 5px;
    width: 100%;
    height: 25px;
    background: #ddd;

}
.menu-skill li {
    color: black;
    width: 100%;
}
.titulo-skill {
    width: 100px;
    display: inline-block;
    padding-left: 15px;
    color: #FFF;
    height: 25px;
    background: #52686d;
}
.skill-pontuacao {
    color: #fff;
    margin-left: 20px;
}
.barra-skill-1 {
    background: #2af35e;
    height: 25px;
    animation: progress-animation-1 3s forwards;
}
.barra-skill-2 {
    background: #2af35e;
    height: 25px;
    animation: progress-animation-2 3s forwards;
}
.barra-skill-3 {
    background: #2af35e;
    height: 25px;
    animation: progress-animation-3 3s forwards;
}
.barra-skill-4 {
    background: #2af35e;
    height: 25px;
    animation: progress-animation-4 3s forwards;
}
.span-porcentagem {
    color: #fff;
    float: right;
    padding-right: 10px;
    position: relative;
}
@keyframes progress-animation-1 {
    from { width: 0%;}
    to { width: 60%; }
}
@keyframes progress-animation-2 {
    from { width: 0%;}
    to { width: 70%; }
}
@keyframes progress-animation-3 {
    from { width: 0%;}
    to { width: 80%; }
}
@keyframes progress-animation-4 {
    from { width: 0%;}
    to { width: 90%; }
}


.box-efeito:after,
.box-efeito:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: transform .4s ease-in-out;
}
.box-efeito:before {
    border-left: 1px solid #2af35e;
    border-right: 1px solid #2af35e;
    transform: scaleY(0);
}
.box-efeito::after {
    border-top: 1px solid #2af35e;
    border-bottom: 1px solid #2af35e;
    transform: scaleX(0);
}
.box-efeito:hover:before {
    transform: scaleY(1);
}
.box-efeito:hover:after{
    transform: scaleX(1);
}

/* efeitos de fade in */
.box h2 {
    animation:  fadein 1.5s;

}
.box-profissional {
    animation:  fadein 1.5s;
}
.box-name {
    animation:  fadein 1.5s;
}
@keyframes fadein {
    from {opacity: 0; transform: translateY(-20px);}
    to { opacity: 1; transform: translateY(0);}
}

/* footer */
.footer {
    background: #52686d;
    padding: 10px 0 10px 15px;
    height: 20px;
}
.footer-text {
    color: #fff;
    text-align: end;
    padding-right: 25px;
}
.footer-text::after {
    content: "\1F5A4";
}

/* MEDIA QUERY */
@media (max-width: 567px) {
   .box {
       width: 100%;
   }
   .boxes {
        flex-direction: column;
    }
    .box-name {
        font-size: 3.75em;
    }
    .box-name h1 {
        margin-top: 50px;
    }
    .texto-im {
        margin-top: 50px;
        margin-left: 40px;
    }
    .texto-ux {
        margin-left: 40px;
    }
   
    .texto-front {
       margin-left: 40px;
    }
    .box-geral h2 {
        font-size: 2em;
        margin-bottom: 30px;
    }
   .footer-text {
        text-align: center;
    }
   
}
@media (min-width: 568px) {
    
    .box-geral {
        width: 48%;
    }
    .box-name {
        width: 48%;
    }
    .box-profissional {
        width: 48%;
     }
   
}


@media (min-width: 991px) {
    .box-geral {
        width: 30%;
    }
    .box-name {
        width: 37%;
    }
    .box-profissional {
        width: 37%;
     }
     .name-hi {
         margin-top: 50px;
         margin-left: 40px;
     }
     .name-is{
         margin-left: 40px;
     }
     .texto-im {
         margin-top: 50px;
         margin-left: 40px;
     }
     .texto-front {
        margin-left: 40px;
     }
     .texto-ux {
         margin-left: 40px;
     }
}
