
body {
    font-family: 'DM Mono', monospace;
    src: url('./font/DMMono-Regular.ttf')
}
/* container */
.container {
    padding: 15px 10px 50px 10px;
    min-height: calc(100vh - 40px);
}
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    background: #52686d;
    box-shadow: 2px 10px 10px #ddd;
}

.menu-redes-sociais {
    display: flex;
}
.menu-redes-sociais li {
    margin-left: 4px;
    margin-top: 14px;
    padding: 5px 2px 4px 0;
}
.menu-redes-sociais li a {
    display: block;
    height: 50px;
    width: 50px;
    font-size: 2em;
    color: #fff;
}


/* Boxes */
.titulo-nome {
    border-bottom: 1px solid #52686d;
}
.boxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.boxes .box {
    flex: 1;
    flex-shrink: 1;
    flex-basis: 30%;
    box-sizing: border-box;
    height: 40vh;
    margin: 10px;
    padding: 30px;
}
.box h1 {
    font-size: 3em;
}
.box-paragrafo {
    font-size: 3em;
}
.box-paragrafo-experiencie {
    margin-top: 25px;
    line-height: 20px;
    font-size: 1.25em;
}
.box h2 {
    font-size: 2.2em;
    text-align: center;
}
.boxes .box-name {
    flex: 1;
    flex-shrink: 1;
    flex-basis: 35%;
    border: none;
    padding-top: 50px;
}
.boxes .box-profissional {
    flex: 1;
    flex-shrink: 1;
    flex-basis: 35%;
    box-shadow: 0 3px 18px #ddd;
    padding-top: 50px;
    position: relative;
}
.box-geral {
    box-shadow: 0 3px 18px #ddd;
    position: relative;
}
.box-geral:after,
.box-geral:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: transform .4s ease-in-out;
}
.box-geral:before {
    border-left: 1px solid #52686d;
    border-right: 1px solid #52686d;
    transform: scaleY(0);
}
.box-geral::after {
    border-top: 1px solid #52686d;
    border-bottom: 1px solid #52686d;
    transform: scaleX(0);
}
.box-geral:hover:before {
    transform: scaleY(1);
}
.box-geral:hover:after{
    transform: scaleX(1);
}

.box-profissional:after,
.box-profissional:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: transform .4s ease-in-out;
}
.box-profissional:before {
    border-left: 1px solid #52686d;
    border-right: 1px solid #52686d;
    transform: scaleY(0);
}
.box-profissional::after {
    border-top: 1px solid #52686d;
    border-bottom: 1px solid #52686d;
    transform: scaleX(0);
}
.box-profissional:hover:before {
    transform: scaleY(1);
}
.box-profissional:hover:after{
    transform: scaleX(1);
}
.icon-color {
    color: rgba(0,0,0, 0.1);
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 1.5em;
}
.texto-github {
    text-decoration: none;
    color: #52686d;
}

.menu-skill {
    display: flex;
    flex-wrap: wrap;
}
.menu-skill li {
    background: #52686d;
    padding: 4px;
    margin: 15px 0 5px 5px;
    width: 100px;
    color: #ddd;
    text-align: center;
}

.skill-pontuacao {
    color: #2af35e;
    font-weight: bold;
}
/* footer */
.footer {
    background: #52686d;
    padding: 10px 0 10px 15px;
    height: 20px;
}
.footer-text {
    color: #fff;
    text-align: end;
    padding-right: 25px;
}
.footer-text::after {
    content: "\1F5A4";
}
/* media query */
@media (max-width: 768px) {
    .boxes {
        flex-direction: column;
    }
}