/* geral */
body {
    font-family: 'Roboto', sans-serif;
    src: url('./font/Roboto-Black.ttf');
    font-size: 100%;
    color: #52686d;
    background-color: rgb(3, 5, 24);
}
.container {
    /*min-height: calc(100vh - 40px); */
    margin: 0 auto 0.25rem auto;
    max-width: 1200px;
}
/* menu */
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    background: rgb(3, 5, 24);
    box-shadow: 0 0 0.2rem #ddd;
}
.redesSociais {
    display: flex;
}
.redesSociais li {
    margin-left: 0.25rem;
    margin-top: 0.25rem;
    padding: 5px 2px 4px 0;
}
.redesSociais li a {
    display: block;
    height: 2.55rem;
    width: 2.25rem;
    font-size: 2rem;
    color: #fff;
}
.redesSociais li a:hover {
    color: #885ae4;
    transition: ease 1.3s;
}
/* estrelinhas das boxes */
.box__icon__cor {
    color: rgba(0,0,0, 0.1);
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 1.5em;
    z-index: 4;
}
/* box e item */
.box {
    display: flex;
    flex-wrap: wrap;
}
.box__item {
    padding: 2rem 1rem 0.75rem 1rem;
    height: 50vh;
    box-sizing: border-box;
    position: relative;
    background-color: #fffefe;
    margin-bottom: 1rem;
}

/* box geral */
.box__item--geral {
    box-shadow: 0.1rem 0.1rem 0.1rem #ddd;
    line-height: 25px;
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}
.box__item--geral h2 {
    font-size: 1.35rem;
    text-align: center;
    margin-bottom: 1.25rem;
}
/* box perfil */
.box__item--perfil {
    box-sizing: border-box;
    border-left: 0.25rem solid #885ae4;
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}
.box__item__perfil {
    display: flex;
}
.box__item__perfil--foto {
    font-size: 0.85rem;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding-bottom: 1rem;
    text-align: center;
}
.box__item__foto {
    max-width: 100%;
}
.box__item__perfil--apresentacao {
    text-align: center;
    padding: 1rem;
}
.box__item__perfil--principal {
    color: #52686d;
    font-weight: bold;
}
.box__item__perfil--cargo {
    font-size: 1.15rem;
    margin-bottom: 2rem;
}
/* box skill */
.skill {
    height: 1.35rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 0.35rem;
    width: 100%;
    background: #ddd;
}
.skill li {
    color: black;
    width: 100%;
}
.skill__titulo {
    width: 100px;
    display: inline-block;
    padding-left: 15px;
    color: #FFF;
    height: 1.35rem;
    background: #78cadc;
}
.skill-pontuacao {
    color: #fff;
    margin-left: 20px;
}
.barra-skill-1 {
    background: #885ae4;
    height: 1.35rem;
    animation: progress-animation-1 3s forwards;
}
.barra-skill-2 {
    background: #885ae4;
    height: 1.35rem;
    animation: progress-animation-2 3s forwards;
}
.barra-skill-3 {
    background: #885ae4;
    height: 1.35rem;
    animation: progress-animation-3 3s forwards;
}
.skill__barra--4 {
    background: #885ae4;
    height: 1.35rem;
    animation: progress-animation-4 3s forwards;
}
.skill__porcento {
    color: #fff;
    float: right;
    padding-right: 10px;
    position: relative;
}
@keyframes progress-animation-1 {
    from { width: 15%;}
    to { width: 70%; }
}
@keyframes progress-animation-2 {
    from { width: 15%;}
    to { width: 75%; }
}
@keyframes progress-animation-3 {
    from { width: 15%;}
    to { width: 85%; }
}
@keyframes progress-animation-4 {
    from { width: 15%;}
    to { width: 95%; }
}
/* box ux  */
.box__nome {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #ddd;
    box-sizing: border-box;
    position: relative;
    font-size: 4rem;
    line-height: 4.25rem;
}
.box__nome--im {
    font-weight: bold;
    margin-top: 2rem;
    color: #78cadc;
}
.box__nome--front {
    color: #885ae4;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    animation: fadeInFront 0s 1.1s both;
}
.box__nome--efeito {
    position: relative;
    overflow: hidden;
}
.box__nome--front:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #885ae4;
    transform: translateX(-100%);
    animation: enLargeBackground 1s .8s both, revealBackground 0.5s 1.1s both;
}
/* animacao pro texto front end */
@keyframes fadeInFront {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes enLargeBackground {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
@keyframes revealBackground {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}
/* box projetos */
.texto-github {
    text-decoration: none;
    color: #52686d;
}
/* qualidades */
.qualidades {
    display: flex;
    flex-wrap: wrap;

}
.qualidades__item {
    margin: 0.50rem auto 0 auto;
    width: 45%;
    padding: 5px;
    text-align: center;

}
.hexagono {
   width: 75px;
   box-sizing: border-box;
   background: #885ae4;
   height: 40px;
   position: relative;
   align-content: center;
   text-align: center;
   margin: 10px auto 35px auto;
}
.hexagono::before {
    content: "";
    position: absolute;
    top: -24px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 37px solid transparent;
    border-right: 38px solid transparent;
    border-bottom: 25px solid #885ae4;
}
.hexagono::after {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 37px solid transparent;
    border-right: 38px solid transparent;
    border-top: 25px solid #885ae4;
}
.hexagono__texto {
    text-align: center;
    font-weight: bold;
}
.size__icon {
    font-size: 2rem;
    margin-top: 5px;
    color: #fff;
}


/* efeito de hover nos boxes */
.box__item--efeito:after,
.box__item--efeito:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: transform .4s ease-in-out;
}
.box__item--efeito:before {
    border-left: 2px solid #885ae4;
    border-right: 2px solid #885ae4;
    transform: scaleY(0);
}
.box__item--efeito::after {
    border-top: 2px solid #885ae4;
    border-bottom: 2px solid #885ae4;
    transform: scaleX(0);
}
.box__item--efeito:hover:before {
    transform: scaleY(1);
}
.box__item--efeito:hover:after{
    transform: scaleX(1);
}

/* efeitos de fade in */
.box__item h2 {
    animation:  fadein 1.5s;

}
.box-profissional {
    animation:  fadein 1.5s;
}
.box__item--perfil {
    animation:  fadein 1.5s;
}
@keyframes fadein {
    from {opacity: 0; transform: translateY(-20px);}
    to { opacity: 1; transform: translateY(0);}
}

/* footer */
.footer {
    text-align: center;
    background: rgb(3, 5, 24);
    padding: 10px 0 10px 15px;
    height: 20px;
    margin-top: 2rem;
    box-shadow: 0 0 0.2rem #ddd;
}
.footer__desenvolvido {
    color: #fff;
    padding-right: 25px;
}
.footer__desenvolvido::after {
    content: "\1F5A4";
}

/* MEDIA QUERY */
@media (min-width: 576px) {
    .box__item {
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
    .box__item--perfil {
        width: 100%;
    }
    .box__item--geral {
        width: 100%;
    }
    .box__nome {
        width: 100%;
    }

}
@media (min-width: 768px) { 
    .box__item {
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
    .box__item--perfil {
        width: 45%;
    }
    .box__item--geral {
        width: 45%;
    }
    .box__nome {
        width: 45%;
    }
    
}
@media (min-width: 991px) { 
    .box__item {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }
    .box__item--perfil {
        width: 39%;
    }
    .box__item--geral {
        width: 28%;
    }
    .box__nome {
        width: 39%;
    }
    .box__nome--im {
        margin-left: 3.25rem;
        margin-top: 2rem;
    }
    .box__nome--front {
        margin-left: 3.25rem;
    }
}
